<ion-header>
  <div [ngStyle]="{'padding-top': headerBarPaddingTop,'background':'#d1d1d1'}">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (tap)="goBack()">
          <ion-icon class="gobicon" slot="icon-only" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>个人资料</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-label class="ttitle">昵称</ion-label>
<!--      <ion-note slot="end">{{userInfo.uname}}</ion-note>-->
      <ion-input placeholder=""  [(ngModel)]="userInfo.uname" slot="end"></ion-input>
      <ion-icon slot="end" class="item-icon-right iconfont icon-forward"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label class="ttitle">个人头像</ion-label>
      <div class="file">
        <input type="file" id="file" accept="image/*" file-model="images" (change)="handleFileInput($event.target.files)"/>
      </div>
      <ion-avatar>
       
        <img [src]="userInfo.avatar">
      </ion-avatar>
      <ion-icon slot="end" class="item-icon-right iconfont icon-forward"></ion-icon>
    </ion-item>
<!--    <ion-item>-->
<!--      <ion-label class="ttitle">微信名片</ion-label>-->
<!--      <ion-note slot="end">上传微信二维码</ion-note>-->
<!--      <ion-icon slot="end" class="item-icon-right iconfont icon-forward"></ion-icon>-->
<!--    </ion-item>-->
  </ion-list>
  <div class="exitbtn rcolor" (tap)="save()">保存</div>
</ion-content>


