<ion-header>
  <div [ngStyle]="{'padding-top': headerBarPaddingTop,'background':'#d1d1d1'}">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (tap)="goBack()">
          <ion-icon class="gobicon" slot="icon-only" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>当前余额</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="balance-box">
    <div class="balance-head">
      <div class="balance-head-em">
        <ion-text class="txt">当前余额(元)</ion-text>
        <ion-text class="em">{{meInfo.esum}}</ion-text>
      </div>
      <div class="balance-head-eb">
        <ul>
          <li class="rcolor">去消费</li>
          <li class="rcolor" style="border-left: 1px solid #f8f8f8;">去提现</li>
        </ul>
      </div>
    </div>
    <div class="balance-list">
      <div class="balance-list-title">消费记录</div>
      <div class="balance-list-content"></div>
    </div>
  </div>
</ion-content>
