@import "../../assets/img/me/me_iconfont.css";
ion-content {
    .closebtn {
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        right: 1rem;
        top: 3rem;
        color: #42433e;
    }
    .tbox {
        width: 100%;
        background: #ffffff;
        padding: 3rem 1rem 1.5rem 1rem;
        .ctxt {
            display: block;
            width: 100%;
            font-size: 2rem;
            font-weight: bold;
        }
        .stxt {
            display: block;
            width: 100%;
            margin-top: 1rem;
        }
        .ltbox {
            width: 100%;
            margin-top: 2rem;
            ul {
                width: 100%;
                height: 10rem;
                padding: 0px;
                margin: 0px;
            }
            li {
                float: left;
                padding: 0px;
                margin: 0px;
                text-decoration: none;
            }
            .tbox {
                position: relative;
                width: 48%;
                height: 100%;
                border-radius: 1rem;
                .ckbox {
                    position: absolute;
                    width: 2rem;
                    height: 2rem;
                    top: 0.3rem;
                    right: 0.3rem;
                }
            }
            .tsplit {
                width: 4%;
                height: 100%;
            }
        }
    }
    .cbox {
        width: 100%;
        background: #ffffff;
        margin-top: 1rem;
        padding: 2.5rem 1rem 0.5rem 1rem;
        .ttxt {
            font-size: 1.7rem;
            margin-top: 1rem;
            font-weight: bold;
        }
        .cbox-tbox {
            width: 100%;
            height: 12rem;
            display: flex;
            margin-top: 1.5rem;
            .uploadDiv{
                position: relative;
                .file {
                    position: absolute;
                    display: inline-block;
                    background: transparent;
                    // border: 1px solid #99D3F5;
                    border-radius: 4px;
                    width: 8rem;
                    height: 12rem;
                    display: inline-block;
                    line-height: 36px;
                    text-decoration: none;
                }
                .file input {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    display: inline-block;
                    line-height: 36px;
                    opacity: 0;
                }
                img {
                    width: 10rem;
                    height: 100%;
                    border-radius: 0.5rem;
                    z-index:0;
                }
            }
            ion-textarea {
                overflow: hidden;
               --height: 100%;
                margin-left: 1rem;
                margin-top: 0rem;
                padding-top: 0.2rem;
                font-size: 1.3rem;
                --color: #000;
                --placeholder-color: #a5a5a5;
                --padding-top: 0.2rem;
            }
        }
        ion-list {
            margin: 1rem;
            background: #ffffff;
            ion-item {
                font-size: 1.32rem;
                --color: #000000;
                --border-color: #e2e2e2;
                --padding-start: 0rem;
                --inner-padding-end: 0rem;
                --min-height: 5rem;
                ion-label {
                    font-size: 1.5rem;
                }
                .item-icon-left {
                    margin-right: 1rem;
                    color: #000000;
                }
                .item-icon-right {
                    margin-right: 0rem;
                    color: #7f7f7f;
                    font-size: 1.6rem;
                }
                ion-note {
                    --color: #505050;
                    margin-right: 0rem;
                    --padding-end: 0px;
                    margin-inline-end: 0px;
                }
            }
        }
    }
    ion-button {
        width: 80%;
        background: #ffffff;
        color: #b8b8b8;
        border-radius: 0.5rem;
        font-size: 1.5rem;
        margin: 2rem 10%;
        border-radius: 2rem;
    }
}
